@model PagedList.IPagedList<RecruitmentPortal.Models.Entities.Application>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Applicationss";
}

<div class="col-md-12">
    <div class="col-md-9">
        <h2>All Job Applications</h2>
        <hr /><br />
        @using (Html.BeginForm("Applications", "Admin", FormMethod.Get))
        {
            <p>
                Search By First Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.ActionLink("Applicant Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </td>
                <td>
                    @Html.ActionLink("Application Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </td>
                <td>
                    Postion Applied
                </td>
                <td>
                    IsQualified
                </td>
                <td>
                    Action
                </td>
            </tr>
            @foreach (var application in Model)
            {
                <tr>
                    <td>
                        @application.Account.FirstName @application.Account.LastName
                    </td>
                    <td>
                        @application.DateApplied
                    </td>
                    <td>
                        @application.Job.JobTitle
                    </td>
                    <td>
                       <i class="glyphicon glyphicon-apple"></i>
                    </td>
                    <td>
                        <a href="#" class="btn-sm">View</a>
                    </td>
                </tr>
            }
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Applications",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
    <div class="col-md-3">
        <h3>Quicklinks Here...</h3>

    </div>
</div>