
@model PagedList.IPagedList<RecruitmentPortal.Models.Entities.Job>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Recruitment Portal</h1>
    <p class="lead">This portal is designed for educational purpose, You may extend the features for personal use or share Code as you wish.</p>
    <p><a href="http://www.salemsky95.wordpress.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="col-md-12">
    <div class="col-md-12">
        <h2>All Job Postings</h2>
        <hr />
        <p><a href="/Admin/AddNewJob" class="pull-left btn-sm btn-primary">Add New Job</a></p><br /><br />
        @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
        {
            <p>
                Search By Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.ActionLink("Job Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </td>
                <td>
                    @Html.ActionLink("Expiry Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </td>
                <td>
                    Job Category
                </td>
                <td>
                    Views
                </td>
                <td>
                    Action
                </td>
            </tr>
            @foreach (var job in Model)
            {
                <tr>
                    <td>
                        @job.JobTitle
                    </td>
                    <td>
                        @job.ExpiryDate
                    </td>
                    <td>
                        @job.JobCategory.JobCategoryName
                    </td>
                    <td>
                        @job.Views
                    </td>
                    <td>
                        <a href="/Home/Apply/@job.JobID" class="btn-sm">View</a>
                    </td>
                </tr>
            }
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
   
</div>